body, .pusher, .pusher.dimmed{
	background-color: #1b1c1d !important;
	color:white !important;
	font-family: sans-serif;
	
}
#logoSide{
	margin-left: 10% !important;
}
.fundoAll{
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-position: center !important;
	min-height: 100% !important;
}
#fundo1{
	background-image:url(../imgs/img1.jpg);
	color:white !important;
	height: 100%;
}
#logo{
	margin-top: 3% !important;
	width:auto !important;
	height: 25% !important;
}
#logoText{
	margin-left: 2%;
	font-family: "Princess Sofia";

}
#fundo2-1{
	background-image: url(../imgs/img2.jpg);
	padding-top: 5%;
	padding-bottom: 5%;
	margin-top: 5px;
	background-repeat: no-repeat !important;
	background-position: center !important;
	width: 100% !important;
	background-size: cover !important;
}
#fundo2-2{
	padding-top:20px;
	padding-left: 15px;
	padding-right: 15px;
	text-align: justify;
	background-attachment: fixed;
	background-color: rgba(255,255,255,.4);
	color: black;
	width: 40%;
	height: cover;
	position: relative;
	margin-left:auto;
	margin-right: auto;
	border-radius: 10px;
}
@media only screen and (max-width:400px){
	#logoText{
		font-size: 27px !important;
	}
	#fundo2-2 p{
		font-size: 12px;
	}
	#logo{
		width:30% !important ;
		height: 20% !important;
	}
	.oAP .noImgPost{
		width: 90% !important;
	}
}
@media only screen and (min-width: 400px) and (max-width: 559px){
	#logoText{
		font-size: 30px !important;
	}
	#fundo2-2 p{
		font-size: 14px !important;
	}
	#fundo2-2{
		height: 90% !important;
	}
}
@media only screen and (min-width: 560px){
	#logoText{
		font-size: 50px !important;
	}
	#fundo2-2 p, #fundoPost p, #fundo3 p{
		font-size: 18px;
	}
	.oAP .noImgPost{
		width:80%;
	}
}
@media only screen and (max-width: 768px){
	#fundo2-2, #fundoPost #fundo3{
		width: 75% !important;
	}
	#froalaDiv{
		width:90% !important;
	}
	.fundo3, #oAP .fundo3{
		width:80% !important;
	}
	.fundo3, #oAP .fundo3 video{
		width:80% !important;
		height: auto;
	}
	.fundo3, #oAP .fundo3 image{
		width:80% !important;
		height: auto;
	}
	#fundoPost{
		width: 90%;
	}
	.fundoPost{
		width: 90% !important;
	}
}
@media only screen and (min-width: 769px){
	.ps{
		font-size: 40px;
	}
	.fundo3{
		font-size: 18px;
	}
}	
.fundo3{
	border-radius: 10px;
	margin-top: 5%;
	margin-bottom: 5%;
	padding-top:20px;
	padding-left: 15px;
	padding-right: 15px;
	font-size:15px;
	text-align: justify;
	background-color: rgba(255,255,255,.4);
	color: black;
	width: 40%;
	height:cover;
	position: relative;
	margin-left:auto;
	margin-right: auto;
}
.ps{
	font-family: "Princess Sofia" !important;
	text-align: center;
}
a, a:visited{
	color:#00ffff;

} 
a:hover{
	color:#00ffcc;
}

/* latin-ext */
@font-face {
  font-family: 'Princess Sofia';
  font-style: normal;
  font-weight: 400;
  src: local('Princess Sofia'), local('PrincessSofia'), url(f1.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Princess Sofia';
  font-style: normal;
  font-weight: 400;
  src: local('Princess Sofia'), local('PrincessSofia'), url(f2.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
.footerDivider{
	background-color: cyan;
}
#footer{
	text-align: center;
}
#segDivi {
	border-right-color: white;
}
#contentGrid .column{
	padding-top: 2%;
	padding-left: 3%;
	padding-right: 3%;
}
.noImgPost{
	height:auto;
	padding-top:5%;
	padding-bottom:5%;
	padding-left: 12%;
	padding-right: 12%;
	text-align: center;
	background-color: rgba(255,255,255,.2);
	color: white;
	border-radius: 10px;
	border-color: white;
}
.noImgPost .postPagesText{
	text-align: justify;
	
}
.card img{
	height: 250px !important;
}
.card {
	height: auto !important;
	text-align: center;
	background-color: rgba(255,255,255,.2) !important;
}
.fundoPost{
	padding-top:20px;
	padding-left: 15px;
	padding-right: 15px;
	text-align: justify;
	background-attachment: fixed;
	background-color: transparent;
	color: black;
	width: 50%;
	height:cover;
	position: relative;
	margin-left:auto;
	margin-right: auto;
	border-radius: 10px;
}
fieldset{
	border-radius: 5px;
}
#froalaDiv {
	width:50%;
	position: relative;
	margin-left:auto;
	margin-right:auto;
}
#oAP .fundo3{
	width: 60%;
	padding-bottom: 20px;	
}
#oAP .fundo3 img{
	width:60% !important;
	height: cover;
}
#myContent{
	margin-left:30px;
	margin-right: 30px;
}
#contentGrid{
	min-height:100% !important;
}
